upstream recycle_django {
  server unix:///tmp/recycle.sock;
  keepalive 64;
}

server {
    listen 80;

    server_name 192.168.56.101;
    access_log /home/ubuntu/web/recycle/access.log;

    location ~ ^/(?:lib/|img/|js/|css/|upload/|robots.txt|humans.txt|favicon.ico) {
      root /home/ubuntu/web/recycle/static;
      access_log off;
      expires max;
    }

    location / {
      include uwsgi_params;
      uwsgi_pass recycle_django;
    }
}