body, html {
    height: 100%;
    width: 100%;
}
#map-canvas {
    height: 100%;
    width: 100%;
}


/* Floater START */
.floater {
    position: absolute;
}
.floater.main {
    top:30px;
    width:800px;
    height:150px;
    left:50%;
    margin-left:-400px;
    background: #fff;
}
.floater.main select {
    width:400px;
    height:30px;
}
.floater.main .select2-container {
    margin:30px 200px;
    width:400px;
}
#add-new #step1 #streetview {
    width:332px;
    height:200px;
}
.hide {
    display: none;
}
#addressSearch {
    width:398px;
    margin:10px 200px;
}
a.add-new {
    border: 1px solid gray;
    text-decoration: none;
    display : block;
    position: absolute;
    top:10px;
    left:10px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    height: 30px
}
a.add-new.active {
    background: yellow;
}