body, html {
    height: 100%;
    width: 100%;
}
#map-canvas {
    height: 100%;
    width: 100%;
}


/* Floater START */
.floater {
    position: absolute;
}
.floater.main {
    top:30px;
    width:800px;
    height:150px;
    left:50%;
    margin-left:-400px;
    background: #fff;
}
.floater.main select {
    width:400px;
    height:30px;
}
.floater.main .select2-container,
input.address {
    margin:30px 200px 0 200px;
    width:400px;
}
#add-new #step1 .streetview {
    width:332px;
    height:200px;
}
#add-new #step1 .missing-streetview {
    width:332px;
    height:200px;
    display: none;
    background: gray;
    line-height: 200px;
    text-align: center;
}
.hide {
    display: none;
}
div.address {
    width:398px;
    margin:0 200px 0 200px;
}
div.address a.change {
    font-size: 0.7em;
    vertical-align: middle;
}
div.address em {
    font-style: normal;
}
div.add-new a.close,
a.add-new {
    border: 1px solid gray;
    text-decoration: none;
    display : block;
    position: absolute;
    top:10px;
    left:10px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    height: 30px
}
a.add-new.active {
    background: yellow;
}

/** Styling google autocomplete **/
.pac-container:after {
    display: none   ;
}

/* Add new info and address search */
div.add-new {
    padding: 10px 200px 0 200px;
}
div.add-new input {
    width:400px;
}