# Make this unique, and don't share it with anybody.
SECRET_KEY = '%bfij+9c-xb&$kdtc_q-rhj=ii!%mc_()c5%!c$p-w65q^jhz9'
DATABASES = {
    'default': {
        'NAME': 'recycle', # Or path to database file if using sqlite3.
        'USER': 'fernando',
        'PASSWORD': ')(!JIOWQLKMDASiksajajw8218sa#Wndo',
        'HOST': '',        # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '',        # Set to empty string for default.
    }
}