{% extends "layout.html" %}
{% load compress %}
{% load staticfiles %}
{% load restful %}
{% block headTag %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/normalize.css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/select2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/jquery.uniform/themes/default/css/uniform.default.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock %}
{% block content %}
    <div id="map-canvas"
         data-center="{ &quot;lat&quot;: 42.693413, &quot;lng&quot;: 23.322601}"
         data-address-ignore="[ &quot;България&quot;,  &quot;Bulgaria&quot;]"
    ></div>
    <div class="floater main">
        <div id="search">
            <div class="floater-header">
                <a class="add-new" href="" style="">+</a>
            </div>
            <div class="floater-body">
                <form action="{% url 'home' %}" data-action="{% url 'spots' %}">
                    <select name="filter" id="filter" multiple data-recyclables="{{ recyclables|jsonify }}" data-placeholder="вестници, бутилки, батерии, метал" data-no-matches="__material__ не се рециклира, пробвайте нещо друго">
                        {% for recyclable, material in recyclables.items %}
                        <option value="{{ material }}">{{ recyclable }}</option>
                        {% endfor %}
                    </select>
                    <div class="address">
                        <strong>Резултати в </strong>
                        <em></em>
                        <a href="#" class="change">въведи адрес</a>
                    </div>
                </form>
            </div>
        <div class="change-address hide">
            <a class="close" href="" style="">x</a>
            <input class="address" type="text" name="address" id="addressSearch" width="400px" placeholder="Град или адрес"/>
        </div>
        <div class="add-new hide">
            <a class="close" href="" style="">x</a>
            <div class="address">
                <p>Можете да преместите маркера като го привлачете на желания адрес или потърсите адреса в полето по
                    долу:</p>
                <input class="new-address" type="text" name="address-new" id="addressNewSearch" placeholder="Адрес на новия пункт"/>
            </div>
            <div class="details hide">
                <p>И малко информация за това какво се рециклира тук, какво представлява мястото. Можете и накратко да
                    опишете как да го намерят хората по-лесно</p>
            </div>
        </div>
    </div>
    <div class="infowindow-add-template hide">
        <div id="add-new">
            <form action="{% url 'spots' %}" method="post">
                <a class="close" href="">Close</a>
                <div id="step1" class="step">
                    <a class="btn cancel-streetview" href="#">не се вижда мястото</a>
                    <a class="btn reactivate hide" href="#">назад към камерата</a>
                    <div class="streetview">
                    </div>
                    <div class="missing-streetview">
                        На това място няма streetview
                    </div>
                    <div class="cancelled-streetview">
                        Е, айде сега, голяма работа, не се виждало. <a href="#" class="address-focus">Адрес има, нали?</a>
                    </div>
                    <a class="btn accept" href="#">Готов съм</a>
                </div>
                <div id="step2" class="step hide">
                    <a class="back" href="">Стъпка назад</a>
                    <div class="street">
                        <img src="" alt="" width="500" height="94"/>
                    </div>
                    <fieldset>
                        <label class="object_type">Тип на обекта <span class="err"></span></label>
                        <div class="controls">
                            {%  for i in spot_types %}
                                <label><input type="radio" name="object_type" id="object_type" value="{{ i.id }}"/> {{ i.name }}</label>
                            {% endfor %}
                        </div>
                        <label for="object_services" class="object_services">Изкупува <span class="err"></span></label>
                        <div class="controls">
                            <select required name="object_services" multiple id="object_services"
                                    data-placeholder="вестници, бутилки, батерии, метал">
                                {% for recyclable, material in recyclables.items %}
                                    <option value="{{ material }}">{{ recyclable }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for="object_description" class="object_description">Допълнително описание <span class="err"></span></label>
                        <div class="controls">
                            <textarea minlength="10" name="object_description" id="object_description" cols="30" rows="10"></textarea>
                        </div>
                    </fieldset>
                    <a class="btn accept" href="#">Готов съм</a>
                </div>
                <div id="step3" class="step hide">
                    <div class="success">Готово!</div>
                    <a class="btn accept" href="#">Обратно към картата</a>
                </div>
            </form>
        </div>
    </div>

    <div class="infowindow-show-template hide">
        <div id="show-location">
            <a class="close" href="">Close</a>
            <div class="streetview-thumb">
                <img src="about:blank" width="500px" height="200px" rel="streetview-img"/>
                <div class="overlay">
                    <h2 class="address" rel="address">
                        <strong class="street" rel="street"></strong>
                        <strong class="area" rel="area"></strong>
                    </h2>
                </div>
            </div>
            <div class="specs clearfix">
                <div class="column">
                    <h3>Тип на обекта</h3>
                    <strong class="type"></strong>
                </div>
                <div class="column">
                    <h3>Изкупува</h3>
                    <ul class="tags stripped">

                    </ul>
                </div>
            </div>
            <div class="more-info">
                <h3>Допълнителна информация</h3>
                <p rel="description"></p>
            </div>
            <img src="" />
            <div class="company-info">
                <img src="" class="logo" rel="logo"/>
                <p></p>
            </div>
        </div>
        {% comment %}
        <div id="show-location">
            <a class="close" href="">Close</a>
            <div id="page" class="step">
              <h2>Tadaa</h2>
            </div>
        </div>
        {% endcomment %}
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places,geometry"></script>
    {% compress js file libs %}
    <script src="{% static 'libs/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'libs/jquery-easing/jquery.easing.js' %}"></script>
    <script src="{% static 'libs/blockui/jquery.blockUI.js' %}"></script>
    <script src="{% static 'libs/jquery.validation/dist/jquery.validate.js' %}"></script>
    <script src="{% static 'libs/spin.js/spin.js' %}"></script>
    <script src="{% static 'libs/jquery.uniform/jquery.uniform.js' %}"></script>
    <script src="{% static 'libs/select2/select2.js' %}"></script>
    {% endcompress %}
    {% compress js file locallibs %}
    <script src="{% static 'js/lib/clipper.js' %}"></script>
    <script src="{% static 'js/lib/pubsub.js' %}"></script>
    <script src="{% static 'js/lib/infobox.js' %}"></script>
    <script src="{% static 'js/lib/googleMarkerAnimate.js' %}"></script>
    <script src="{% static 'js/lib/markerclusterer.js' %}"></script>
    <script src="{% static 'js/jquery.animateContentSwitch.js' %}"></script>
    <script src="{% static 'js/infoboxAnimated.js' %}"></script>
    {% endcompress %}
    {% compress js file local %}
    <script src="{% static 'js/map/geoServices.js' %}"></script>
    <script src="{% static 'js/map/popupNew.js' %}"></script>
    <script src="{% static 'js/map/streetViewPicker.js' %}"></script>
    <script src="{% static 'js/map/addressSearch.js' %}"></script>
    <script src="{% static 'js/map/locationManager.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/app/recycleServices.js' %}"></script>
    <script src="{% static 'js/app/userAddress.js' %}"></script>
    <script src="{% static 'js/app/locationWizard.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endcompress %}
{% endblock %}
