{% extends "layout.html" %}
{% load staticfiles %}
{% load restful %}
{% block headTag %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/select2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock %}
{% block content %}
    <div id="map-canvas" data-center="{ &quot;lat&quot;: 42.693413, &quot;lng&quot;: 23.322601}"></div>
    <div class="floater main">
        <div id="search" data-spots="{{ spots|jsonify }}">
            <a class="add-new" href="" style="">+</a>
            <form action="{% url 'home' %}" data-action="{% url 'spots' %}">
                <select name="filter" id="filter" multiple data-recyclables="{{ recyclables|jsonify }}">
                    {% for recyclable, material in recyclables.items %}
                    <option value="{{ recyclable }}">{{ recyclable }}</option>
                    {% endfor %}
                </select>
                <input class="address" type="text" name="address" id="addressSearch"/>
            </form>
        </div>
    </div>
    <div class="infowindow-add-template hide">
        <div id="add-new">
            Тука ще е първа стъпка от Wizard-а за добавяне
            <div id="step1">
                <div class="streetview">
                </div>
                <div class="missing-streetview">
                    На това място няма streetview
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="{% static 'js/lib/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/lib/googleMarkerAnimate.js' %}"></script>
    <script src="{% static 'js/lib/select2.min.js' %}"></script>
    <script src="{% static 'js/lib/markerclusterer_compiled.js' %}"></script>
    <script src="{% static 'js/mapComponents.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}
