{% extends "layout.html" %}
{% load staticfiles %}
{% load restful %}
{% block headTag %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/select2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock %}
{% block content %}
    <div id="map-canvas"
         data-center="{ &quot;lat&quot;: 42.693413, &quot;lng&quot;: 23.322601}"
         data-address-ignore="[ &quot;България&quot;,  &quot;Bulgaria&quot;]"
    ></div>
    <div class="floater main">
        <div id="search" data-spots="{{ spots|jsonify }}">
            <a class="add-new" href="" style="">+</a>
            <form action="{% url 'home' %}" data-action="{% url 'spots' %}">
                <select name="filter" id="filter" multiple data-recyclables="{{ recyclables|jsonify }}">
                    {% for recyclable, material in recyclables.items %}
                    <option value="{{ recyclable }}">{{ recyclable }}</option>
                    {% endfor %}
                </select>
                <div class="address"><em></em> <a href="#" class="change">Смени</a></div>
            </form>
        </div>
        <div class="change-address hide">
            <a class="close" href="" style="">x</a>
            <input class="address" type="text" name="address" id="addressSearch" width="400px" placeholder="Град или адрес"/>
        </div>
        <div class="add-new hide">
            <a class="close" href="" style="">x</a>
            <p>Можете да преместите маркера като го привлачете на желания адрес или потърсите адреса в полето по долу:</p>
            <input class="new-address" type="text" name="address-new" id="addressNewSearch" placeholder="Адрес на новия пункт"/>
        </div>
    </div>
    <div class="infowindow-add-template hide">
        <div id="add-new">
            <a class="close" href="">Close</a>
            <div id="step1" class="step">
                <a class="btn cancel-streetview" href="#">Не се вижда мястото [ x ]</a>
                <a class="btn reactivate hide" href="#">< Назад към камерата</a>
                <div class="streetview">
                </div>
                <div class="missing-streetview">
                    На това място няма streetview
                </div>
                <div class="cancelled-streetview">
                    Е, айде сега, голяма работа, не се виждало. <a href="#" class="address-focus">Адрес има, нали?</a>
                </div>
                <a class="btn accept" href="#">Готов съм</a>
            </div>
            <div id="step2" class="step hide">
                <a class="back" href="">Стъпка назад</a>
                <div class="street">
                    <img src="" alt="" width="300" height="100"/>
                </div>
                <label for="">Тип на обекта</label>
                <input type="radio" name="object_type" id="object_type" value="dropoff" checked="checked"/> Пункт
                <input type="radio" name="object_type" id="object_type" value="depot" /> Депо
                <input type="radio" name="object_type" id="object_type" value="chain"/> Търговски обект
                <label for="">Изкупува</label>
                <select name="object_services" id="object_services">
                    <option value="paper">paper</option>
                    <option value="metal">metal</option>
                    <option value="cars">cars</option>
                </select>
                <label for="">Допълнително описание</label>
                <textarea name="object_description" id="" cols="30" rows="10"></textarea>
                <a class="btn accept" href="#">Готов съм</a>
            </div>
            <div id="step3" class="step hide">
                <div class="success">Готово!</div>
                <a class="btn accept" href="#">Обратно към картата</a>
            </div>
        </div>
    </div>

    <div class="infowindow-show-template hide">
        <div id="show-location">
            <a class="close" href="">Close</a>
            <div id="page" class="step">
              <h2>Tadaa</h2>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="{% static 'js/lib/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/lib/jquery.blockUI.js' %}"></script>
    <script src="{% static 'js/lib/spin.js' %}"></script>
    <script src="{% static 'js/jquery.animateContentSwitch.js' %}"></script>
    <script src="{% static 'js/infobox.js' %}"></script>
    <script src="{% static 'js/infoboxAnimated.js' %}"></script>
    <script src="{% static 'js/lib/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/lib/googleMarkerAnimate.js' %}"></script>
    <script src="{% static 'js/lib/select2.min.js' %}"></script>
    <script src="{% static 'js/lib/markerclusterer_compiled.js' %}"></script>
    <script src="{% static 'js/map/geoServices.js' %}"></script>
    <script src="{% static 'js/map/popupNew.js' %}"></script>
    <script src="{% static 'js/map/addressSearch.js' %}"></script>
    <script src="{% static 'js/map/locationManager.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/app/recycleServices.js' %}"></script>
    <script src="{% static 'js/app/userAddress.js' %}"></script>
    <script src="{% static 'js/app/locationWizard.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
