body, html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

ul.stripped {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.hide {
  display: none !important; }

.clearfix:before {
  content: " ";
  display: table; }
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

#map-canvas {
  height: 100%;
  width: 100%; }

div.change-address a.close,
div.add-new a.close,
a.add-new, .menu li a {
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; }

#add-new, #show-location {
  font-family: "Open Sans", sans-serif !important;
  background: #fff;
  overflow: hidden;
  margin-bottom: 28px;
  -moz-box-shadow: 0 3px 5px rgba(0, 1, 1, 0.21);
  -webkit-box-shadow: 0 3px 5px rgba(0, 1, 1, 0.21);
  box-shadow: 0 3px 5px rgba(0, 1, 1, 0.21); }

#add-new a.close, #show-location a.close {
  text-indent: -9999em;
  width: 54px;
  height: 54px;
  display: block;
  position: absolute;
  top: 8px;
  right: -54px; }
  #add-new a.close:before, #show-location a.close:before, #add-new a.close:after, #show-location a.close:after {
    content: '';
    position: absolute;
    width: 46px;
    height: 8px;
    background: #6fe36d;
    border-radius: 4px;
    top: 16px; }
  #add-new a.close:before, #show-location a.close:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 4px; }
  #add-new a.close:after, #show-location a.close:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 4px; }
  #add-new a.close:hover:before, #show-location a.close:hover:before, #add-new a.close:hover:after, #show-location a.close:hover:after {
    background: #36cc34; }

#add-new #step1 a.accept, #add-new #step2 a.accept {
  display: block;
  background: #6fe36d;
  color: #fff;
  height: 40px;
  font-size: 18px;
  border: 20px solid #fff;
  text-decoration: none;
  text-align: center;
  line-height: 40px; }
  #add-new #step1 a.accept:hover, #add-new #step2 a.accept:hover {
    background: #36cc34; }

.floater {
  position: absolute; }
  .floater.main {
    top: 20px;
    width: 700px;
    left: 50%;
    margin-left: -400px; }
    .floater.main select {
      width: 400px;
      height: 30px; }
  .floater .floater-body {
    background: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.21); }
    .floater .floater-body h1 {
      font-size: 1.250em;
      color: #215c20;
      text-align: center;
      padding: 10px 0 9px 0;
      margin: 0;
      font-weight: 600; }
  .floater .floater-header {
    height: 50px;
    width: 700px;
    background: rgba(111, 227, 109, 0.9); }

div.change-address .address-picker,
div.add-new .new-address,
input.address {
  margin: 0 20px 10px 20px; }

/* Add new info and address search */
div.add-new input {
  width: 400px; }
div.add-new p {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 15px 20px 10px 20px;
  color: #215c20; }
div.add-new .address .new-address {
  margin: 0; }
div.add-new .address .selectize-control {
  margin: 0 20px; }

#search div.address {
  padding: 1px 20px 15px 20px;
  font-size: 0.813em; }
  #search div.address a.change {
    text-decoration: none;
    color: #36cc34;
    float: right; }
  #search div.address .auto-location {
    float: left;
    font-style: normal;
    color: #215c20; }
    #search div.address .auto-location em {
      font-style: normal; }

div.change-address a.close,
div.add-new a.close,
a.add-new {
  text-decoration: none;
  color: #fff;
  display: block;
  position: absolute;
  top: 14px;
  left: 20px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  width: 23px;
  height: 23px; }
  div.change-address a.close:before, div.change-address a.close:after,
  div.add-new a.close:before,
  div.add-new a.close:after,
  a.add-new:before,
  a.add-new:after {
    content: '';
    position: absolute;
    width: 23px;
    height: 5px;
    background: #fff;
    border-radius: 4px;
    top: 9px;
    left: 0; }
  div.change-address a.close:after,
  div.add-new a.close:after,
  a.add-new:after {
    left: 0;
    right: 4px;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  div.change-address a.close.active,
  div.add-new a.close.active,
  a.add-new.active {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
    div.change-address a.close.active:hover,
    div.add-new a.close.active:hover,
    a.add-new.active:hover {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
  div.change-address a.close:hover,
  div.add-new a.close:hover,
  a.add-new:hover {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 11px 0 0 0; }

.menu {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  font-size: 0.938em;
  line-height: 50px;
  height: 50px; }
  .menu li {
    vertical-align: middle;
    padding-right: 20px;
    display: inline-block;
    line-height: 1em; }
    .menu li a {
      color: #fff;
      padding-bottom: 0.15em;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      display: inline-block; }
      .menu li a:hover {
        border-bottom-color: #fff; }

#add-new {
  overflow: hidden; }
  #add-new textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #cfffcf; }
    #add-new textarea:focus, #add-new textarea:hover {
      border-color: #36cc34;
      outline: none; }
  #add-new #step1 .streetview {
    width: 560px;
    height: 336px; }
  #add-new #step1 .cancelled-streetview {
    width: 540px;
    padding: 80px 10px 0 10px;
    height: 235px;
    display: none;
    background: gray;
    text-align: center; }
    #add-new #step1 .cancelled-streetview svg {
      height: 336px;
      width: 560px;
      position: absolute;
      bottom: 5px;
      z-index: 9999; }
  #add-new #step1 .missing-streetview {
    width: 540px;
    padding: 80px 10px 0 10px;
    height: 235px;
    display: none;
    background: gray;
    text-align: center;
    position: relative;
    z-index: 4; }
  #add-new #step1 a.reactivate, #add-new #step1 a.cancel-streetview {
    position: absolute;
    top: 260px;
    height: 29px;
    line-height: 29px;
    padding: 0 9px;
    background: rgba(111, 227, 109, 0.9);
    left: 0;
    font-size: 13px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    z-index: 2; }
    #add-new #step1 a.reactivate:hover, #add-new #step1 a.cancel-streetview:hover {
      background: #36cc34; }
  #add-new #step2 {
    padding: 0; }
    #add-new #step2 fieldset {
      padding: 20px;
      border: 0;
      margin: 0; }
    #add-new #step2 .select2-container {
      width: 300px; }
    #add-new #step2 label {
      display: inline-block;
      color: #215c20;
      font-size: 15px; }
    #add-new #step2 .controls label {
      display: inline-block;
      color: #36cc34; }
    #add-new #step2 a.back {
      position: absolute;
      top: 37px;
      display: inline-block;
      height: 29px;
      line-height: 29px;
      padding: 0 9px;
      font-size: 13px;
      background: rgba(111, 227, 109, 0.9);
      color: #fff;
      text-decoration: none; }
      #add-new #step2 a.back:hover {
        background: #36cc34; }

div.radio {
  width: 20px;
  height: 20px;
  border-radius: 50%; }
  div.radio span, div.radio input {
    width: 20px;
    height: 20px;
    border-radius: 50%; }
  div.radio span {
    background: #fff;
    border: 1px solid #cfffcf; }
  div.radio.hover span.checked, div.radio.focus span.checked,
  div.radio span.checked {
    background: #cfffcf url("../img/radio-check.png") no-repeat center center; }
  div.radio:hover span.checked, div.radio.focus span.checked, div.radio.hover span, div.radio.focus span {
    border: 1px solid #36cc34; }

label:hover div.radio span {
  border: 1px solid #36cc34; }

#show-location {
  background: #fff;
  margin-top: 10px;
  font-size: 11px;
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16); }
  #show-location #page {
    width: 400px;
    padding: 10px; }
  #show-location a {
    font-size: 11px; }
  #show-location h3 {
    margin: 0;
    color: #114e11;
    padding: 0;
    font-size: 15px;
    font-weight: 600; }
  #show-location .streetview-thumb {
    position: relative; }
    #show-location .streetview-thumb .overlay {
      position: absolute;
      color: #fff;
      min-height: 116px;
      bottom: 0;
      left: 0;
      width: 100%;
      background: url("../img/show-location-overlay-bg.png") no-repeat left bottom; }
      #show-location .streetview-thumb .overlay h2.address {
        font-size: 30px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 20px;
        line-height: 35px;
        left: 20px;
        width: 100%; }
        #show-location .streetview-thumb .overlay h2.address strong {
          font-weight: normal;
          line-height: 32px;
          display: block;
          text-shadow: 0 1px 2px rgba(0, 1, 1, 0.75); }
          #show-location .streetview-thumb .overlay h2.address strong.area {
            display: block;
            top: -25px;
            height: 20px;
            position: absolute;
            font-weight: 300;
            left: 0;
            width: 100%;
            font-size: 15px; }
  #show-location .specs {
    background: #f4fcf5;
    color: #36cc34;
    padding-bottom: 14px; }
    #show-location .specs .tags {
      padding-top: 4px; }
      #show-location .specs .tags li {
        display: inline-block;
        background: #cfffcf;
        font-size: 13px;
        padding: 0 4px 1px 4px;
        margin-right: 5px;
        text-transform: lowercase; }
    #show-location .specs .column {
      width: 50%;
      float: left; }
      #show-location .specs .column:first-child > * {
        margin-left: 19px; }
    #show-location .specs strong.type {
      font-size: 15px;
      font-weight: normal; }
    #show-location .specs h3 {
      padding: 14px 0 2px 0; }
  #show-location .specs
  .more-info {
    padding: 13px 0 8px 20px;
    font-size: 13px;
    color: #114e11; }
    #show-location .specs
    .more-info p {
      margin-top: 5px; }

.gm-style {
  font-family: 'Open Sans', sans-serif; }

.cluster > div {
  background: rgba(111, 227, 109, 0.95);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50% !important;
  margin-left: -15px;
  height: 30px !important;
  line-height: 30px !important;
  width: 30px !important;
  top: -35px !important;
  color: #fff !important;
  /*overflow: hidden;*/
  /*text-indent: -9999em;*/ }

.infoBox a, .infoBox label, .infoBox input, .infoBox .blockUI, .infoBox textarea, .infoBox .select2-container, .infoBox .streetview {
  pointer-events: auto; }
.infoBox > img {
  display: none; }
.infoBox:after {
  content: '';
  position: absolute;
  /*background: transparent;*/
  /*border: 21px solid transparent;*/
  /*border-top-color: #fff;*/
  width: 40px;
  height: 28px;
  z-index: 1000001;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  background: url("../img/info-arrow.png") no-repeat bottom center; }

.selectize-dropdown-content {
  max-height: none !important; }

.results-scroller {
  position: relative;
  max-height: 155px; }

.selectize-input ::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1em;
  font-weight: 600;
  color: rgba(33, 92, 32, 0.5);
  position: relative;
  top: 4px; }

.selectize-input :-moz-placeholder {
  font-size: 16px;
  line-height: 1em;
  font-weight: 600;
  color: rgba(33, 92, 32, 0.5);
  position: relative;
  top: 4px; }

.selectize-input ::-moz-placeholder {
  font-size: 16px;
  line-height: 1em;
  font-weight: 600;
  color: rgba(33, 92, 32, 0.5);
  position: relative;
  top: 4px; }

.selectize-input :-ms-input-placeholder {
  font-size: 16px;
  line-height: 1em;
  font-weight: 600;
  color: rgba(33, 92, 32, 0.5);
  position: relative;
  top: 4px; }

.selectize-control {
  margin: 0 20px; }

.selectize-dropdown.single [data-selectable],
.selectize-dropdown [data-selectable], .selectize-dropdown.single .dropdown-empty-message,
.selectize-dropdown .dropdown-empty-message, .selectize-input > input {
  font-size: 16px;
  line-height: 1em;
  font-weight: 600;
  color: #215c20; }

.selectize-dropdown.single [data-selectable],
.selectize-dropdown [data-selectable], .selectize-dropdown.single .dropdown-empty-message,
.selectize-dropdown .dropdown-empty-message {
  background: rgba(247, 255, 247, 0.95);
  padding: 0.68em 0.68em 0.68em 1.18em;
  border-bottom: 1px solid #cfffcf; }
  .selectize-dropdown [data-selectable]:last-child,
  .selectize-dropdown .dropdown-empty-message:last-child {
    border-bottom: 0; }

.selectize-dropdown.single,
.selectize-dropdown {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
  border: 1px solid #6fe36d;
  border-top: 0; }
  .selectize-dropdown.single [data-selectable].active,
  .selectize-dropdown [data-selectable].active {
    background: #cfffcf; }
  .selectize-dropdown.single [data-selectable] .highlight,
  .selectize-dropdown [data-selectable] .highlight {
    background: rgba(54, 204, 52, 0.2); }

.selectize-input {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  border-color: #cfffcf;
  padding: 21px 10px 15px 19px; }
  .selectize-input > input {
    height: 22px;
    line-height: 17px;
    top: -3px;
    position: relative; }
  .selectize-input.focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .selectize-control.single .selectize-input, .selectize-control.plugin-remove_button .selectize-input, .selectize-control.multi .selectize-input {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    border-color: #cfffcf;
    padding: 21px 10px 15px 19px; }
    .selectize-control.single .selectize-input.has-items, .selectize-control.plugin-remove_button .selectize-input.has-items, .selectize-control.multi .selectize-input.has-items {
      padding: 21px 10px 15px 19px;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: none;
      border-color: #cfffcf;
      padding: 21px 10px 15px 19px; }
    .selectize-control.single .selectize-input [data-value].item, .selectize-control.plugin-remove_button .selectize-input [data-value].item, .selectize-control.multi .selectize-input [data-value].item {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      vertical-align: top;
      color: #36cc34;
      line-height: 17px;
      padding: 0 5px 0 5px !important;
      background: #cfffcf;
      text-shadow: none;
      margin: 0 5px 5px  0;
      border: 0; }
      .selectize-control.single .selectize-input [data-value].item:hover, .selectize-control.plugin-remove_button .selectize-input [data-value].item:hover, .selectize-control.multi .selectize-input [data-value].item:hover {
        background: #6fe36d;
        color: #f7fff7; }
      .selectize-control.single .selectize-input [data-value].item:hover.active, .selectize-control.single .selectize-input [data-value].item.active, .selectize-control.plugin-remove_button .selectize-input [data-value].item:hover.active, .selectize-control.plugin-remove_button .selectize-input [data-value].item.active, .selectize-control.multi .selectize-input [data-value].item:hover.active, .selectize-control.multi .selectize-input [data-value].item.active {
        background: #36cc34;
        color: #fff; }
      .selectize-control.single .selectize-input [data-value].item .remove, .selectize-control.plugin-remove_button .selectize-input [data-value].item .remove, .selectize-control.multi .selectize-input [data-value].item .remove {
        border: 0;
        font-weight: 700;
        font-size: 15px;
        padding: 0;
        height: 17px;
        line-height: 17px; }
  .selectize-control.multi .selectize-input.input-active, .selectize-control.single .selectize-input.input-active, .selectize-control.multi .selectize-input.dropdown-active, .selectize-control.single .selectize-input.dropdown-active {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    border-color: #cfffcf;
    padding: 21px 10px 15px 19px;
    border-color: #6fe36d; }
    .selectize-control.multi .selectize-input.input-active:before, .selectize-control.single .selectize-input.input-active:before, .selectize-control.multi .selectize-input.dropdown-active:before, .selectize-control.single .selectize-input.dropdown-active:before {
      background: #cfffcf; }
  .selectize-control.plugin-remove_button .selectize-input [data-value].item {
    padding: 0 20px 0 5px !important; }

.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.mCSB_scrollTools .mCSB_draggerContainer {
  top: 5px;
  bottom: 5px; }

.mCSB_draggerRail {
  display: none; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #6fe36d;
  width: 5px; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #36cc34; }

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: #215c20; }

/*# sourceMappingURL=map.css.map */
